<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.stv.appbolsa">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppBolsaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="91e801b1d1fbf45b72bd08a28092ab355331d8f3" />

        <activity android:name=".ui.activity.sell.SellActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.buy.BuyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.buySellOperations.BuySellOperationsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.average.AverageActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>